## Praproses data test dan prediksi

### Import Library

In [65]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, date

### Read Files

In [66]:
df = pd.read_table("C://Users//Byebay//Documents//College//Data Mining//tugas//klasifikasi//dataset//orders_class.txt", delimiter=";", na_values = '?')
df.head(5)

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate
0,1,2013-04-01,2013-04-03,2347,43,magenta,1,89.9,12489,Mrs,1963-04-26,Hesse,2012-04-23
1,2,2013-04-01,2013-04-03,2741,43,grey,1,99.9,12489,Mrs,1963-04-26,Hesse,2012-04-23
2,3,2013-04-01,2013-04-03,2514,9,ecru,19,79.9,12489,Mrs,1963-04-26,Hesse,2012-04-23
3,4,2013-04-01,2013-05-06,2347,42,brown,1,89.9,12489,Mrs,1963-04-26,Hesse,2012-04-23
4,5,2013-04-01,NaN,2690,43,grey,1,119.9,12489,Mrs,1963-04-26,Hesse,2012-04-23

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50078 entries, 0 to 50077
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderItemID     50078 non-null  int64
 1   orderDate       50078 non-null  object
 2   deliveryDate    45810 non-null  object
 3   itemID          50078 non-null  int64
 4   size            50078 non-null  object
 5   color           50078 non-null  object
 6   manufacturerID  50078 non-null  int64
 7   price           50078 non-null  float64
 8   customerID      50078 non-null  int64
 9   salutation      50078 non-null  object
 10  dateOfBirth     44909 non-null  object
 11  state           50078 non-null  object
 12  creationDate    50078 non-null  object
dtypes: float64(1), int64(4), object(8)
memory usage: 5.0+ MB

### Mengubah datatype orderdate, deliverydate, dateofBirth, creationDate dari object menjadi datetime

In [68]:
df['orderDate'] = pd.to_datetime(df['orderDate'], format="%Y-%m-%d")
df['creationDate'] = pd.to_datetime(df['creationDate'], format="%Y-%m-%d")
df['deliveryDate'] = pd.to_datetime(df['deliveryDate'], format="%Y-%m-%d", errors='coerce')
df['dateOfBirth'] = pd.to_datetime(df['dateOfBirth'], format="%Y-%m-%d", errors='coerce')

### Melihat data NULL pada setiap atribut

In [69]:
df.isna().sum()

orderItemID          0
orderDate            0
deliveryDate      4268
itemID               0
size                 0
color                0
manufacturerID       0
price                0
customerID           0
salutation           0
dateOfBirth       5169
state                0
creationDate         0
dtype: int64

### Melihat jumlah setiap value pada atribut Size

In [70]:
df['size'].value_counts().head(10)

L          6823
XL         6042
M          5479
XXL        4615
40         3386
39         3175
unsized    2405
38         2346
S          2038
41         1993
Name: size, dtype: int64

### Melihat jumlah setiap value pada atribut Color

In [71]:
color = df['color'].value_counts()
color[40:50]

blau        74
hibiscus    58
curry       51
mint        51
jade        44
ash         38
ancient     30
silver      29
darkblue    26
bordeaux    17
Name: color, dtype: int64

### Mengelompokkan atribut color menjadi warna dasar

In [72]:
df['color'] = df['color'].replace(['amethyst'], 'purple')
df['color'] = df['color'].replace(['almond'], 'brown')
df['color'] = df['color'].replace(['ancient'], 'brown')
df['color'] = df['color'].replace(['anthracite'], 'grey')
df['color'] = df['color'].replace(['antique pink'], 'pink')
df['color'] = df['color'].replace(['apricot'], 'orange')
df['color'] = df['color'].replace(['aqua'], 'blue')
df['color'] = df['color'].replace(['aquamarine'], 'blue')
df['color'] = df['color'].replace(['ash'], 'grey')
df['color'] = df['color'].replace(['aubergine'], 'purple')
df['color'] = df['color'].replace(['aviator'], 'grey')
df['color'] = df['color'].replace(['avocado'], 'green')
df['color'] = df['color'].replace(['azure'], 'blue')
df['color'] = df['color'].replace(['baltic blue'], 'blue')
df['color'] = df['color'].replace(['basalt'], 'grey')
df['color'] = df['color'].replace(['beige'], 'yellow')
df['color'] = df['color'].replace(['berry'], 'red')
df['color'] = df['color'].replace(['bordeaux'], 'red')
df['color'] = df['color'].replace(['caramel'], 'brown')
df['color'] = df['color'].replace(['bronze'], 'brown')
df['color'] = df['color'].replace(['champagner'], 'yellow')
df['color'] = df['color'].replace(['cognac'], 'red')
df['color'] = df['color'].replace(['copper coin'], 'brown')
df['color'] = df['color'].replace(['coral'], 'orange')
df['color'] = df['color'].replace(['cortina mocca'], 'brown')
df['color'] = df['color'].replace(['creme'], 'brown')
df['color'] = df['color'].replace(['crimson'], 'red')
df['color'] = df['color'].replace(['curled'], 'brown')
df['color'] = df['color'].replace(['currant purple'], 'purple')
df['color'] = df['color'].replace(['curry'], 'yellow')
df['color'] = df['color'].replace(['dark denim'], 'blue')
df['color'] = df['color'].replace(['dark garnet'], 'purple')
df['color'] = df['color'].replace(['dark grey'], 'grey')
df['color'] = df['color'].replace(['dark navy'], 'blue')
df['color'] = df['color'].replace(['dark oliv'], 'green')
df['color'] = df['color'].replace(['darkblue'], 'blue')
df['color'] = df['color'].replace(['denim'], 'blue')
df['color'] = df['color'].replace(['ebony'], 'brown')
df['color'] = df['color'].replace(['ecru'], 'brown')
df['color'] = df['color'].replace(['floral'], 'red')
df['color'] = df['color'].replace(['fuchsia'], 'purple')
df['color'] = df['color'].replace(['gold'], 'yellow')
df['color'] = df['color'].replace(['graphite'], 'grey')
df['color'] = df['color'].replace(['habana'], 'brown')
df['color'] = df['color'].replace(['hibiscus'], 'red')
df['color'] = df['color'].replace(['ingwer'], 'yellow')
df['color'] = df['color'].replace(['iron'], 'grey')
df['color'] = df['color'].replace(['ivory'], 'yellow')
df['color'] = df['color'].replace(['jade'], 'green')
df['color'] = df['color'].replace(['kanel'], 'brown')
df['color'] = df['color'].replace(['khaki'], 'brown')
df['color'] = df['color'].replace(['lemon'], 'yellow')
df['color'] = df['color'].replace(['leopard'], 'orange')
df['color'] = df['color'].replace(['magenta'], 'purple')
df['color'] = df['color'].replace(['mango'], 'orange')
df['color'] = df['color'].replace(['mint'], 'green')
df['color'] = df['color'].replace(['mocca'], 'brown')
df['color'] = df['color'].replace(['nature'], 'green')
df['color'] = df['color'].replace(['navy'], 'blue')
df['color'] = df['color'].replace(['ocher'], 'brown')
df['color'] = df['color'].replace(['oliv'], 'green')
df['color'] = df['color'].replace(['olive'], 'green')
df['color'] = df['color'].replace(['opal'], 'blue')
df['color'] = df['color'].replace(['pallid'], 'green')
df['color'] = df['color'].replace(['perlmutt'], 'blue')
df['color'] = df['color'].replace(['petrol'], 'blue')
df['color'] = df['color'].replace(['silver'], 'grey')
df['color'] = df['color'].replace(['stained'], 'grey')
df['color'] = df['color'].replace(['striped'], 'black')
df['color'] = df['color'].replace(['terracotta'], 'brown')
df['color'] = df['color'].replace(['turquoise'], 'green')
df['color'] = df['color'].replace(['vanille'], 'white')
df['color'] = df['color'].replace(['cobalt blue'], 'blue')
df['color'] = df['color'].replace(['mahagoni'], 'brown')
df['color'] = df['color'].replace(['color_amethyst'], 'purple')
df['color'] = df['color'].replace(['color_aviator'], 'grey')
df['color'] = df['color'].replace(['color_avocado'], 'green')
df['color'] = df['color'].replace(['color_bronze'], 'brown')
df['color'] = df['color'].replace(['color_caramel'], 'brown')
df['color'] = df['color'].replace(['color_champagner'], 'yellow')
df['color'] = df['color'].replace(['color_cobalt blue'], 'blue')
df['color'] = df['color'].replace(['color_copper coin'], 'brown')
df['color'] = df['color'].replace(['olor_cortina mocca'], 'brown')
df['color'] = df['color'].replace(['olor_creme'], 'brown')
df['color'] = df['color'].replace(['color_curled'], 'red')
df['color'] = df['color'].replace(['color_currant purple'], 'purple')
df['color'] = df['color'].replace(['color_dark garnet'], 'red')
df['color'] = df['color'].replace(['color_dark grey'], 'grey')
df['color'] = df['color'].replace(['color_ebony'], 'black')
df['color'] = df['color'].replace(['color_ivory'], 'black')
df['color'] = df['color'].replace(['color_mango'], 'yellow')
df['color'] = df['color'].replace(['color_opal'], 'blue')
df['color'] = df['color'].replace(['color_perlmutt'], 'green')
df['color'] = df['color'].replace(['color_vanille'], 'white')

In [73]:
# blau adalah bahasa jerman dari blue
df[df['color'] == 'blau'].head()

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate
152,153,2013-04-01,2013-04-04,2401,M,blau,20,59.9,86561,Mrs,NaT,Hamburg,2013-04-01
538,539,2013-04-01,2013-04-22,2401,S,blau,20,59.9,54615,Mrs,1967-04-15,Bavaria,2012-10-03
2679,2680,2013-04-02,2013-04-22,2401,XL,blau,20,59.9,6182,Mrs,1956-02-09,Bremen,2011-02-16
3517,3518,2013-04-03,2013-05-28,2401,L,blau,20,59.9,44746,Mrs,1965-01-26,Baden-Wuerttemberg,2012-09-13
5683,5684,2013-04-04,2013-04-10,2401,XL,blau,20,59.9,50017,Mrs,1969-09-24,North Rhine-Westphalia,2012-09-15

In [74]:
# mengubah data blau pada atribut color
df.color = np.where(df.color == 'blau', 'blue', df.color)

### melihat data pada atribut dateOfBirth yang null berdasarkan atribut salutation

In [75]:
df.loc[df['dateOfBirth'].isna()].salutation.value_counts(dropna=False).sort_index()

Company       1
Family       11
Mr          237
Mrs        4920
Name: salutation, dtype: int64

### Membuat atribut umur (age)

In [76]:
# tahun sekarang dikurangi tahun pada atribut dateOfBirth
now = pd.Timestamp('now')
df['dateOfBirth'] = df['dateOfBirth'].where(df['dateOfBirth'] < now, df['dateOfBirth'] -  np.timedelta64(100, 'Y'))
df['age'] = (now - df['dateOfBirth']).astype('<m8[Y]')

In [77]:
# mencari umur rata-rata berdasarkan atribut salutation
df_avg = pd.DataFrame((df.groupby('salutation').mean().age))
df_avg

                    age
salutation
Company       67.000000
Family        51.913580
Mr            56.859301
Mrs           57.981575
not reported  57.937500

In [78]:
# mengisi data pada atribut age dengan rata-rata berdasarkan atribut solutation
df['age'].fillna(df.groupby("salutation")['age'].transform("mean"), inplace = True)
df['age'] = round(df['age']) # membulatkan data

### Membuat atribut delivery_time (lama pengiriman)

In [79]:
# Melihat atribut lama pengiriman dengan mengurangi data antara atribut deliveryDate dengan atribut orderDate
df['delivery_time'] = (df['deliveryDate'] - df['orderDate']).dt.days
df['delivery_time'].head(6)

0     2.0
1     2.0
2     2.0
3    35.0
4     NaN
5     1.0
Name: delivery_time, dtype: float64

In [80]:
# Melihat jumlah atribut delivery_time yang negatif
df[df['delivery_time'] < 0]['delivery_time'].count()

540

In [81]:
# melihat jumlah data pada atribut delivery_time yang NULL dan tidak NULL
df['delivery_time'].isna().value_counts()

False    45810
True      4268
Name: delivery_time, dtype: int64

In [82]:
# value yang negatif diubah menjadi None
df['delivery_time'] = df['delivery_time'].where((df['delivery_time'] >= 0), None)

In [83]:
# Untuk melihat perubahan data
# df['delivery_time'].isna().value_counts()
df['delivery_time'].head(6)

0     2.0
1     2.0
2     2.0
3    35.0
4     NaN
5     1.0
Name: delivery_time, dtype: float64

In [84]:
# mencari rata-rata lama pengiriman
mean_delivery_time = round(np.mean(df['delivery_time']))
# mean_delivery_time

In [85]:
# Mengisi data pada atribut delivery_time dengan menggunakan rata-rata lama pengiriman
df.loc[df['delivery_time'].isna(), 'delivery_time'] = mean_delivery_time
df.head(6)

,orderItemID,orderDate,deliveryDate,itemID,size,color,manufacturerID,price,customerID,salutation,dateOfBirth,state,creationDate,age,delivery_time
0,1,2013-04-01,2013-04-03,2347,43,purple,1,89.9,12489,Mrs,1963-04-26,Hesse,2012-04-23,59.0,2.0
1,2,2013-04-01,2013-04-03,2741,43,grey,1,99.9,12489,Mrs,1963-04-26,Hesse,2012-04-23,59.0,2.0
2,3,2013-04-01,2013-04-03,2514,9,brown,19,79.9,12489,Mrs,1963-04-26,Hesse,2012-04-23,59.0,2.0
3,4,2013-04-01,2013-05-06,2347,42,brown,1,89.9,12489,Mrs,1963-04-26,Hesse,2012-04-23,59.0,35.0
4,5,2013-04-01,NaT,2690,43,grey,1,119.9,12489,Mrs,1963-04-26,Hesse,2012-04-23,59.0,16.0
5,6,2013-04-01,2013-04-02,2318,41,blue,1,89.9,3649,Mrs,1956-03-26,Hesse,2013-04-01,66.0,1.0

### Mengubah size menjadi category dengan ukuran S, M, L, XL

In [86]:
# menghapus + pada size
df["size"] = df["size"].replace({'\+':''},regex=True)
# mengubah data string menjadi upper case
df['size'] = df['size'].str.upper()
# mengubah representasi dari beberapa data di atribut size agar mudah ketika mengelompokkan
df.loc[(df['size'] == 'UNSIZED'), 'size'] = "0"
df.loc[(df['size'] == 'XS'), 'size'] = "1"
df.loc[(df['size'] == 'M'), 'size'] = "36"
df.loc[(df['size'] == 'S'), 'size'] = "32"
df.loc[(df['size'] == 'L'), 'size'] = "40"
df.loc[(df['size'] == 'XL'), 'size'] = "44"
df.loc[(df['size'] == 'XXL'), 'size'] = "46"
df.loc[(df['size'] == 'XXXL'), 'size'] = "48"
df.loc[(df['size'] == 'XXXXL'), 'size'] = "50"
df.loc[(df['size'] == 'XXXXXL'), 'size'] = "54"
# mengubah tipa data size dari object menjadi int
df['size'] = df['size'].astype('int64')

In [87]:
# mengelompokkan data pada atribut size
# 0 = UNSIZED
df.loc[(df['size'] > 70), 'size'] = 0
# 1 = XS
df.loc[(df['size'] >= 29) & (df['size'] <= 31), 'size'] = 1
# 1 = S
df.loc[(df['size'] >= 2) & (df['size'] <= 4), 'size'] = 2
df.loc[(df['size'] >= 32) & (df['size'] <= 34), 'size'] = 2
# 2 = M
df.loc[(df['size'] >= 5) & (df['size'] <= 8), 'size'] = 3
df.loc[(df['size'] >= 35) & (df['size'] <= 38), 'size'] = 3
# 3 = L
df.loc[(df['size'] >= 9) & (df['size'] <= 12), 'size'] = 4
df.loc[(df['size'] >= 39) & (df['size'] <= 42), 'size'] = 4
# 4 = XL
df.loc[(df['size'] >= 13) & (df['size'] <= 15), 'size'] = 5
df.loc[(df['size'] >= 43) & (df['size'] <= 45), 'size'] = 5
# 5 = XXL
df.loc[(df['size'] >= 16) & (df['size'] <= 17), 'size'] = 6
df.loc[(df['size'] >= 46) & (df['size'] <= 47), 'size'] = 6
# 6 = XXX
df.loc[(df['size'] >= 18) & (df['size'] <= 19), 'size'] = 7
df.loc[(df['size'] >= 48) & (df['size'] <= 49), 'size'] = 7
# 7 = XXXXL
df.loc[(df['size'] >= 20) & (df['size'] <= 23), 'size'] = 8
df.loc[(df['size'] >= 50) & (df['size'] <= 53), 'size'] = 8
# 8 = XXXXXL
df.loc[(df['size'] >= 24) & (df['size'] <= 28), 'size'] = 9
df.loc[(df['size'] >= 54) & (df['size'] <= 58), 'size'] = 9

In [88]:
# mengubah kembali data dari numerik menjadi string
df.loc[(df['size'] == 0), 'size'] = "UNSIZED"
df.loc[(df['size'] == 1), 'size'] = "XS"
df.loc[(df['size'] == 2), 'size'] = "S"
df.loc[(df['size'] == 3), 'size'] = "M"
df.loc[(df['size'] == 4), 'size'] = "L"
df.loc[(df['size'] == 5), 'size'] = "XL"
df.loc[(df['size'] == 6), 'size'] = "XXL"
df.loc[(df['size'] == 7), 'size'] = "XXXL"
df.loc[(df['size'] == 8), 'size'] = "XXXXL"
df.loc[(df['size'] == 9), 'size'] = "XXXXXL"

### Drop atribut

In [89]:
df = df.drop(['orderDate', 'orderItemID', 'dateOfBirth', 'deliveryDate', 'creationDate'], axis =1)

### Mengubah datatype atribut size, color, state, salutation menjadi category

In [90]:
df['size'] = df['size'].astype('category')
df.color = df['color'].astype('category')
df.state = df['state'].astype('category')
df.salutation = df['salutation'].astype('category')

### Atribut yang datatypenya category diubah menjadi one-hot encoding

In [91]:
df = pd.get_dummies(data=df, columns=['salutation','size','color','state'])

In [92]:
df.columns

Index(['itemID', 'manufacturerID', 'price', 'customerID', 'age',
       'delivery_time', 'salutation_Company', 'salutation_Family',
       'salutation_Mr', 'salutation_Mrs', 'salutation_not reported', 'size_L',
       'size_M', 'size_S', 'size_UNSIZED', 'size_XL', 'size_XS', 'size_XXL',
       'size_XXXL', 'size_XXXXL', 'size_XXXXXL', 'color_black', 'color_blue',
       'color_brown', 'color_green', 'color_grey', 'color_orange',
       'color_pink', 'color_purple', 'color_red', 'color_white',
       'color_yellow', 'state_Baden-Wuerttemberg', 'state_Bavaria',
       'state_Berlin', 'state_Brandenburg', 'state_Bremen', 'state_Hamburg',
       'state_Hesse', 'state_Lower Saxony',
       'state_Mecklenburg-Western Pomerania', 'state_North Rhine-Westphalia',
       'state_Rhineland-Palatinate', 'state_Saarland', 'state_Saxony',
       'state_Saxony-Anhalt', 'state_Schleswig-Holstein', 'state_Thuringia'],
      dtype='object')

In [93]:
import pickle
with open('C:\\Users\\Byebay\\data mining\\Klasifikasi\\hasil1.pickle', 'rb') as fp:
     X_train_column = list(pickle.load(fp))
df = df[X_train_column]
df.columns

import joblib
clf = joblib.load("C:\\Users\\Byebay\\data mining\\Klasifikasi\\hasil1.joblib")
clf.predict(df)

i = 1
with open("C:\\Users\\Byebay\\data mining\\Klasifikasi\\orders_class.txt", "w") as o:
    print("{0};{1}".format("orderItemID", "prediction"), file = o)
    for line in clf.predict(df):
        print("{0};{1}".format(i, line), file=o)
        i+=1

In [94]:
dfhasil = pd.read_table("C:\\Users\\Byebay\\data mining\\Klasifikasi\\orders_class.txt", delimiter=";")
dfhasil["prediction"].value_counts()

1    30342
0    19736
Name: prediction, dtype: int64