## Klasifikasi

### Import Library

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer
from sklearn import preprocessing
from sklearn.decomposition import PCA

C:\Users\Byebay\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

### Read File

In [2]:
df = pd.read_csv("C:\\Users\\Byebay\\data mining\\Klasifikasi\\train_dataset1.csv")
df.head(5)

,itemID,manufacturerID,price,customerID,returnShipment,age,delivery_time,salutation_Company,salutation_Family,salutation_Mr,...,state_Hesse,state_Lower Saxony,state_Mecklenburg-Western Pomerania,state_North Rhine-Westphalia,state_Rhineland-Palatinate,state_Saarland,state_Saxony,state_Saxony-Anhalt,state_Schleswig-Holstein,state_Thuringia
0,186,25,69.90,794,0,57.0,2.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,71,21,69.95,794,1,57.0,2.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,71,21,69.95,794,1,57.0,2.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22,14,39.90,808,0,63.0,11.0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,151,53,29.90,825,0,58.0,11.0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481089 entries, 0 to 481088
Data columns (total 49 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   itemID                               481089 non-null  int64
 1   manufacturerID                       481089 non-null  int64
 2   price                                481089 non-null  float64
 3   customerID                           481089 non-null  int64
 4   returnShipment                       481089 non-null  int64
 5   age                                  481089 non-null  float64
 6   delivery_time                        481089 non-null  float64
 7   salutation_Company                   481089 non-null  int64
 8   salutation_Family                    481089 non-null  int64
 9   salutation_Mr                        481089 non-null  int64
 10  salutation_Mrs                       481089 non-null  int64
 11  salutation_not reported              481089 non-null  int64
 12  size_L                               481089 non-null  int64
 13  size_M                               481089 non-null  int64
 14  size_S                               481089 non-null  int64
 15  size_UNSIZED                         481089 non-null  int64
 16  size_XL                              481089 non-null  int64
 17  size_XS                              481089 non-null  int64
 18  size_XXL                             481089 non-null  int64
 19  size_XXXL                            481089 non-null  int64
 20  size_XXXXL                           481089 non-null  int64
 21  size_XXXXXL                          481089 non-null  int64
 22  color_black                          481089 non-null  int64
 23  color_blue                           481089 non-null  int64
 24  color_brown                          481089 non-null  int64
 25  color_green                          481089 non-null  int64
 26  color_grey                           481089 non-null  int64
 27  color_orange                         481089 non-null  int64
 28  color_pink                           481089 non-null  int64
 29  color_purple                         481089 non-null  int64
 30  color_red                            481089 non-null  int64
 31  color_white                          481089 non-null  int64
 32  color_yellow                         481089 non-null  int64
 33  state_Baden-Wuerttemberg             481089 non-null  int64
 34  state_Bavaria                        481089 non-null  int64
 35  state_Berlin                         481089 non-null  int64
 36  state_Brandenburg                    481089 non-null  int64
 37  state_Bremen                         481089 non-null  int64
 38  state_Hamburg                        481089 non-null  int64
 39  state_Hesse                          481089 non-null  int64
 40  state_Lower Saxony                   481089 non-null  int64
 41  state_Mecklenburg-Western Pomerania  481089 non-null  int64
 42  state_North Rhine-Westphalia         481089 non-null  int64
 43  state_Rhineland-Palatinate           481089 non-null  int64
 44  state_Saarland                       481089 non-null  int64
 45  state_Saxony                         481089 non-null  int64
 46  state_Saxony-Anhalt                  481089 non-null  int64
 47  state_Schleswig-Holstein             481089 non-null  int64
 48  state_Thuringia                      481089 non-null  int64
dtypes: float64(3), int64(46)
memory usage: 179.9 MB

### Kelas Target

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df.returnShipment)
Y = le.transform(df.returnShipment)

In [5]:
list(le.classes_)

[0, 1]

In [6]:
X = df.drop("returnShipment",axis=1)

### Split Data

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=None)

### Metode Naive Bayes

In [9]:
clf = GaussianNB()
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
acc = accuracy_score(Y_test, Y_pred)
print("Akurasi {}".format(acc))
print(classification_report(Y_test, Y_pred))

Akurasi 0.5553222889688
              precision    recall  f1-score   support

           0       0.56      0.69      0.62     49865
           1       0.55      0.41      0.47     46353

    accuracy                           0.56     96218
   macro avg       0.55      0.55      0.54     96218
weighted avg       0.55      0.56      0.55     96218

### Metode Decision Tree

In [10]:
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
acc = accuracy_score(Y_test, Y_pred)
print("Akurasi {}".format(acc))
print(classification_report(Y_test, Y_pred))

Akurasi 0.6017273275270739
              precision    recall  f1-score   support

           0       0.62      0.61      0.61     49865
           1       0.59      0.59      0.59     46353

    accuracy                           0.60     96218
   macro avg       0.60      0.60      0.60     96218
weighted avg       0.60      0.60      0.60     96218

### Metode Random Forest

In [11]:
clf = RandomForestClassifier(n_estimators=100, random_state=123)
clf.fit(X_train, Y_train)
Y_pred = clf.predict(X_test)
acc = accuracy_score(Y_test, Y_pred)
print("Akurasi {}".format(acc))
print(classification_report(Y_test, Y_pred))

Akurasi 0.6413560872186077
              precision    recall  f1-score   support

           0       0.67      0.61      0.64     49865
           1       0.62      0.67      0.64     46353

    accuracy                           0.64     96218
   macro avg       0.64      0.64      0.64     96218
weighted avg       0.64      0.64      0.64     96218

### Importance Features

In [12]:
feature_importances = pd.DataFrame(clf.feature_importances_,index = X_train.columns, columns=['importance']).sort_values('importance',ascending=False)

print(feature_importances)

                                     importance
customerID                             0.168447
delivery_time                          0.158564
itemID                                 0.128087
age                                    0.121302
price                                  0.106207
manufacturerID                         0.080339
state_North Rhine-Westphalia           0.014378
state_Bavaria                          0.012520
state_Lower Saxony                     0.012401
state_Baden-Wuerttemberg               0.012040
size_M                                 0.009836
color_blue                             0.009799
color_grey                             0.009424
state_Hesse                            0.009423
size_XL                                0.009043
size_L                                 0.008930
color_black                            0.008754
color_brown                            0.007891
color_red                              0.007602
state_Rhineland-Palatinate             0.007529
state_Schleswig-Holstein               0.007474
size_XXL                               0.007282
size_UNSIZED                           0.007240
color_green                            0.006711
state_Berlin                           0.006483
size_S                                 0.005781
color_purple                           0.005568
state_Saxony                           0.005261
state_Brandenburg                      0.004549
state_Hamburg                          0.004491
color_white                            0.004423
state_Mecklenburg-Western Pomerania    0.003550
state_Thuringia                        0.003497
state_Bremen                           0.002972
state_Saxony-Anhalt                    0.002797
color_pink                             0.002641
color_yellow                           0.002539
state_Saarland                         0.002493
salutation_Mrs                         0.002484
salutation_Mr                          0.002143
color_orange                           0.002057
size_XXXL                              0.001487
size_XXXXL                             0.001061
size_XXXXXL                            0.000762
salutation_Family                      0.000679
size_XS                                0.000656
salutation_Company                     0.000219
salutation_not reported                0.000182

In [13]:
#simpan nama kolom untuk keperluan prediksi nanti 
import pickle
with open('C:\\Users\\Byebay\\data mining\\Klasifikasi\\hasil1.pickle', 'wb') as fp:
    pickle.dump(X_train.columns, fp)

In [14]:
import joblib
joblib.dump(clf, "C:\\Users\\Byebay\\data mining\\Klasifikasi\\hasil1.joblib")

['C:\\Users\\Byebay\\data mining\\Klasifikasi\\hasil1.joblib']